<section class="py-5">
    <h1 class="display-3">
        Thank You
    </h1>
    <p class="lead">Your Book should be sent to you in One business day</p>
    <a href='/' class="btn btn-dark btn-lg">Go Back To Home</a>
</section>